/SuperHeroAPI-DotNet8/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SuperHeroAPI-DotNet8/obj/Debug/net8.0/SuperHeroAPI-DotNet8.AssemblyInfo.cs
/SuperHeroAPI-DotNet8/obj/Debug/net8.0/SuperHeroAPI-DotNet8.AssemblyInfoInputs.cache
/SuperHeroAPI-DotNet8/obj/Debug/net8.0/SuperHeroAPI-DotNet8.assets.cache
/SuperHeroAPI-DotNet8/obj/Debug/net8.0/SuperHeroAPI-DotNet8.csproj.AssemblyReference.cache
/SuperHeroAPI-DotNet8/obj/Debug/net8.0/SuperHeroAPI-DotNet8.GeneratedMSBuildEditorConfig.editorconfig
/SuperHeroAPI-DotNet8/obj/Debug/net8.0/SuperHeroAPI-DotNet8.GlobalUsings.g.cs
/SuperHeroAPI-DotNet8/obj/project.assets.json
/SuperHeroAPI-DotNet8/obj/project.nuget.cache
/SuperHeroAPI-DotNet8/obj/project.packagespec.json
/SuperHeroAPI-DotNet8/obj/rider.project.restore.info
/SuperHeroAPI-DotNet8/obj/SuperHeroAPI-DotNet8.csproj.nuget.dgspec.json
/SuperHeroAPI-DotNet8/obj/SuperHeroAPI-DotNet8.csproj.nuget.g.props
/SuperHeroAPI-DotNet8/obj/SuperHeroAPI-DotNet8.csproj.nuget.g.targets
